.code {
	background-color: #fafafa;
	border-radius: 5px;
	border: 1px solid #cccccc;
	color: #690;
}
	
	
table, tr, th, td {
	border: 1px solid #efefef;
	border-collapse: collapse;
}

td, th {
	padding: 5px 20px 5px 5px;
}

th {
	background-color: #d9edf7;
}

td {
	font-family: sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
}

caption {
	font-size: 15pt;
}

h2 {
	font-size: 19pt;
	text-indent: 25px;
}

h3 {
	font-family: sans-serif;
	font-size: 15pt;
}

p {
	font-family: sans-serif;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

tr:nth-child(uneven) {
	background-color: white;
}

tr:hover {
	background-color: #efefef;
}

#home {
	text-align: center;
	padding-top: 50px;
}

section {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 3px dashed black;
}


#navBar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#navBar li {
	margin: 0;
	float: left;
	border-right:1px solid #bbb;
}

#navBar li:last-child {
	border-right: none;
}

#navBar li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navBar li a:hover {
	background-color: #111;
}

#navBar li a:active {
	background-color: lightgray;
}